@using VideoConverterApi.Enums
@using VideoConverterApi.Models
@inject HttpClient client
@inject IJSRuntime JsRuntime

<h3>ConvertToMPEG</h3>
<br />

<div>
    <button type="button" class="btn btn-primary" @onclick="ConvertVideo" disabled="@isConverting">
        @if (isConverting)
        {
            <span class="spinner-border spinner-border-sm"></span>
        }
        else
        {
            <span>Конвертировать</span>
        }
    </button>
</div>

@if (isConverting)
{
    <div class="loading-screen">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <p>Видео конвертируется...</p>
    </div>
}

@if (_errors.Count > 0)
{
    <h2>Errors</h2>
    <ul class=" text-danger">
        @foreach (var error in _errors)
        {
            <li>@error</li>
        }
    </ul>
}

@code {

    [Parameter]
    public string? InputFileName { get; set; }

    private bool isConverting = false;
    private string _apiBaseURL = "https://localhost:44337";
    private string _directoryPath = @"C:\Users\Matvey\source\repos\VideoConverterApi\VideoConverterApi\Videos\Uploads\";
    private List<string> _errors = new();

    private async Task ConvertVideo()
    {
        isConverting = true;

        var arguments = new InputFileArguments
            {
                InputFileName = InputFileName
            };

        var response = await client.PostAsJsonAsync($"{_apiBaseURL}/converttompegwithnoarguments", arguments);

        if (response.IsSuccessStatusCode)
        {
            string content = await response.Content.ReadAsStringAsync();
            var outputFileName = content.Substring(content.IndexOf(':') + 1).Replace("\"", "").Replace("}", "").Replace("Videos/Uploads/", "");
            string downloadUrl = $"{_apiBaseURL}/download?filePath={_directoryPath}{outputFileName}";

            // Trigger the download in the browser
            await JsRuntime.InvokeAsync<object>("blazorOpen", downloadUrl, "_blank");
        }
        else
        {
            _errors.Add(response.StatusCode.ToString());
        }

        isConverting = false;
    }
}